*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    height: 100%;
    line-height: 1.5;
}

#root {
    height: 100%;
}

.container {
    margin-top: 20px;
}