.search {
    margin: 8px auto;
    width: 100%;
    display: flex;
    &__input {
        width: 100%;
        padding: 15px 10px;
        font-size: 1.25em;
        border: none;
        outline: none;
        border: 1px solid $color-lighter-gray;
        border-radius: 6px;
        padding: 8px;
        width: 340px;
        background-image: url('/icons/search.svg')!important;
        background-position: 95%;
        background-repeat: no-repeat;
        margin: 0 auto;
    }
}