$color-purple: #be97dc;
$color-light-gray: #f6f6f6;
$color-lighter-gray: #a5a5a5;
$color-gray: #5e5b5b;
$color-lighter-gray2: #999;
$color-white: white;

$border-default: 1px solid $color-light-gray;

$font-nunito: "Nunito", sans-serif;